
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


#paragraph1 {
    background: green;
    color: blue;
    padding: 5px -50px 10px 10px;
}

#paragraph2 {
    background: green;
    color:red !important;
    color:green;
    padding: 5px -50px 10px 10px;
}

#paragraph3 {
    color:#00FF00;
}

.moon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 green;
 }

#questions {
    padding:top;
}

.title1 {
    font-family: Roboto;
    color:blueviolet;
}

#button1 a:hover {
    background: red;
}
