:root {
    --background:blue;

#Navbar {
    list-style: scroll;
    margin: 0;
    padding: 0;
    background: blue; 
}

}
#paragraph1 {
    background: green;
    color:aqua;
    padding: 5px -50px 10px 10px;
}

#paragraph2 {
    background: green;
    color:red !important;
    color:green;
    padding: 5px -50px 10px 10px;
}

#paragraph3 {
    color:#00FF00;
}

#questions {
    padding:top;
}

.title1 {
    font-family: Roboto;
    color:blueviolet;
}
